{% extends "network/layout.html" %} {% load static %} {% block body %}

<div>
  {% if user.is_authenticated %}
  <div id="compose-post" class="mb-5">
    <form id="submit-post">
      {% csrf_token %}
      <input
        name="compose-content"
        id="compose-content"
        class="form-control"
        placeholder="What's happening?"
        maxlength="280"
        style="min-height: 50px"
      ></input>
      <button type="submit" style="float: right" class="btn btn-info">
        Post
      </button>
    </form>
  </div>
  {% endif %}

  <div id='profile-header'>
    <div id='profile-header' class='card'>
      <div style="display: flex; flex-direction: row; align-items: center; margin-left: auto; margin-right: auto;">
        <h1 class="display-1" id='profile-username'></h1>
        <div id='follow-infos' style='flex-direction: column; margin-left: 100px;'>
          <h6 class="display-5" id='followers'></h1>
          <h6 class="display-5" id='following'></h1>
              <button type="button" class="btn btn-info" id='follow-button'>Follow</button>
          </div>
        </div>
    </div>
  </div>

  <div id="posts">

    <!-- <div class="card">
      <div class="card-body">
        <a href=""><h5 class="card-title">Card title</h5></a>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <i class="fa fa-heart-o" id='like'></i> 
        <a>3</a>
        <p class="card-text"><small class="text-muted">Last updated 9 mins ago</small></p>
      </div>
    </div> -->

  </div>

  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination" id='pagination'>
        <!-- <li class="page-item"><a class="page-link" onclick="load_page('allPosts', null, 1)">1</a></li>
        <li class="page-item"><a class="page-link" onclick="load_page('allPosts', null, 2)">2</a></li>
        <li class="page-item"><a class="page-link" onclick="load_page('allPosts', null, 3)">3</a></li> -->
      </ul>
    </nav>
  </div>

</div>

{% endblock %} {% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}
