{% extends "network/layout.html" %} {% load static %} {% block body %}

<div>
  {% if user.is_authenticated %}
  <div id="compose-post" class="mb-5">
    <form id="submit-post">
      {% csrf_token %}
      <input
        name="compose-content"
        id="compose-content"
        class="form-control"
        placeholder="What's happening?"
        maxlength="280"
        style="min-height: 50px"
      ></input>
      <button type="submit" style="float: right" class="btn btn-info">
        Post
      </button>
    </form>
  </div>
  {% endif %}

  <div id="posts">

    <!-- <div class="card">
      <div class="card-body">
        <a href=""><h5 class="card-title">Card title</h5></a>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <i class="fa fa-heart-o" id='like'></i> 
        <a>3</a>
        <p class="card-text"><small class="text-muted">Last updated 9 mins ago</small></p>
      </div>
    </div> -->

  </div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}
